---
---

$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        1200px !default;

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";